<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <add key="devextreme-controls-netcore" value="C:\Program Files\DevExpress 22.2\DevExtreme\System\DevExtreme\Bin\AspNetCore" />
    <add key="devexpress-office-file-api" value="C:\Program Files\DevExpress 22.2\Components\System\Components\packages" />
  </packageSources>
</configuration>